////////////Ajout de l'effet de rotation continu des fleurs 
@keyframes rotating {
    100% {
      transform: rotate(1turn);
    }
  }
  .site-footer::after,
  .site-footer ul::after,
  .site-footer::before,
  .story__article::after,
  #studio h2::before,
  #studio h2::after,
  .story h2::after,
  .fleur {
    animation: rotating 20s normal linear infinite;
  } 