// Ajout de l'effet fade-in sur la page principale 
@keyframes fadeInSlide {
  from {
      opacity: 0;
      transform: translateY(-20px); 
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fade-in-section {
  opacity: 0;
  animation: fadeInSlide 1s ease-in-out forwards;
}

// Ajout des effets de glissements aux differentes sections 
.fade-in-section-top {
  animation: fadeInSlide 1s ease-in-out forwards, slideInTop 1s ease-in-out forwards;
}

.fade-in-section-bottom {
  animation: fadeInSlide 1s ease-in-out forwards, slideInBottom 1s ease-in-out forwards;
}

@keyframes slideInTop {
  from {
      opacity: 0;
      transform: translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideInBottom {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}


 //Ajout de l'effet de rotation continu des fleurs 
 @keyframes rotating {
    100% {
      transform: rotate(1turn);
    }
  }
  .site-footer::after,
  .site-footer ul::after,
  .site-footer::before,
  .story__article::after,
  #studio h2::before,
  #studio h2::after,
  .story h2::after,
  .fleur {
    animation: rotating 20s normal linear infinite;
  } 

// Ajout de l'effet fade in sur mes titres 
.fade-in-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(45px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-title .word1 {
  transition-delay: 0s;
}

.fade-in-title .word2 {
  transition-delay: 0.3s;
}

.fade-in-title.is-visible span {
  opacity: 1;
  transform: translateY(0);
}

// Style de la nouvelle section des oscars 

.section-oscar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
 
  .title-oscar {
    font-family: 'Quicksand', 'sans-serif';
    font-weight: 700;
    font-size: 42px;
    text-align: left;
    color: #fff5e9;
    background-image: url('../assets/images/background-oscar.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 1.5em 2.2em;
    margin-top: 40px;
  }

  .img-oscar {
    width: 278px;
    height: 129px;
  }
}

// Ajout de la vidéo et du logo dans le header 

#masthead {
  position: relative;

  .header-content {
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    overflow: hidden; /* Déplacez cette ligne ici pour inclure la classe .parallax */

    video,
    img {
        width: 100%;
        height: 100%;
        display: block;
    }

    video {
        object-fit: cover;
    }

    #header-logo {
        position: absolute;
        width: 680.7px;
        height: 479.04px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        &.logo-animation {
            animation: floatAnimation 3s infinite;
        }
    }

    // Affiche l'image de secours uniquement sur les écrans de moins de 768 pixels de large
    @media (max-width: 767px) {
        video {
            display: none;
        }

        img {
            display: block;
        }
    }

  }
}

// Mise en place de l'animation de flottement sur le logo
@keyframes floatAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) translateY(0);
    }
    50% {
        transform: translate(-50%, -50%) translateY(-25px);
    }
}
