@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-section {
  opacity: 0;
  animation: fadeInSlide 1s ease-in-out forwards;
}

.fade-in-section-top {
  animation: fadeInSlide 1s ease-in-out forwards, slideInTop 1s ease-in-out forwards;
}

.fade-in-section-bottom {
  animation: fadeInSlide 1s ease-in-out forwards, slideInBottom 1s ease-in-out forwards;
}

@keyframes slideInTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes rotating {
  100% {
    transform: rotate(1turn);
  }
}
.site-footer::after,
.site-footer ul::after,
.site-footer::before,
.story__article::after,
#studio h2::before,
#studio h2::after,
.story h2::after,
.fleur {
  animation: rotating 20s normal linear infinite;
}

.fade-in-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in-title .word1 {
  transition-delay: 0s;
}

.fade-in-title .word2 {
  transition-delay: 0.2s;
}

.fade-in-title.is-visible span {
  opacity: 1;
  transform: translateY(0);
}

.nomination_container {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nomination_text {
  font-family: Quicksand;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.84px;
  line-height: 1;
  height: 280px;
  max-width: 723px;
  width: 100%;
  color: #FFF5E9;
  margin-left: 70px;
  padding-top: 20px;
  padding-right: 100px;
}

.nomination_text_container {
  background-image: url("../assets/images/background-oscar.png");
  background-repeat: no-repeat;
  margin-top: 6px;
  margin-left: 50px;
  background-size: 100%;
}

.nominationOscar {
  width: 25%;
  padding-bottom: 100px;
}

@media (max-width: 700px) {
  .nomination_text {
    font-size: 4vw;
    width: 100%;
    max-width: 545px;
    height: 111px;
  }
  .nomination_text_container {
    margin-left: 0;
    background-size: 100%;
    order: 1;
    margin-bottom: -120px;
  }
  .nomination_text_container {
    margin-left: 0;
    background-size: 100%;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    align-items: center;
  }
  .nomination_container {
    padding-top: 134px;
    flex-direction: column;
    align-items: center;
  }
  .nominationOscar {
    order: 2;
    width: 30%;
    padding-bottom: 0;
  }
}
.banner img {
  margin-top: unset;
}

.banner {
  background-image: none;
}
.banner .backgroundBanner {
  position: absolute;
  width: 100% !important;
  z-index: -2;
  margin-top: 0px !important;
}
.banner .logoContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}
.banner .logoBanner {
  width: 680.7px;
  height: 479.04px;
  animation: floatAnimation 3s infinite;
  transform: translateY(0);
}
.banner .videoBanner {
  position: absolute;
  z-index: -1;
}

@media only screen and (max-width: 700px) {
  .videoBanner {
    display: none;
  }
  .backgroundBanner img {
    margin-bottom: 430px;
  }
  .backgroundBanner {
    margin-bottom: 430px;
    width: 100%;
    height: auto;
  }
  .boutonMenu {
    position: absolute;
    right: -100px;
    z-index: 10;
  }
  .story #place > div p {
    padding-left: 0.5em;
  }
  h2 {
    font-size: 2rem;
  }
  #oscar::after {
    right: -30px;
  }
  #oscar::before, #oscar::after {
    width: 100px;
    height: 100px;
  }
}
@keyframes floatAnimation {
  0% {
    transform: translate(2px, 2px);
  }
  25% {
    transform: translate(3px, -2px);
  }
  50% {
    transform: translate(1px, 3px);
  }
  75% {
    transform: translate(-2px, 1px);
  }
  100% {
    transform: translate(2px, 2px);
  }
}
.banner img {
  width: 100%;
  margin-top: 0;
}
.banner .parallax {
  width: 50%;
  margin-top: -10%;
}
@media screen and (max-width: 700px) {
  .banner .parallax {
    width: 70%;
    margin-top: -50%;
  }
}

.slider-perso {
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 100%;
  max-width: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  margin-right: 40px;
  margin-left: 40px;
}

.swiper-slide img {
  display: block;
  max-width: 400px;
  width: 400px;
  height: 400px;
}

#characters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title-left {
  margin-right: 820px;
}

@media (min-width: 700px) and (max-width: 1000px) {
  #titreh3 {
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .swiper-slide img {
    max-width: 140px;
  }
  #titreh3 {
    width: 100%;
    margin-left: 10px;
    font-size: 2rem;
  }
}
.main-navigation {
  height: 80px;
}

.main-navigation ul {
  display: flex;
}

.site-title {
  display: flex;
  margin-left: 90px;
}

.MenuFull {
  background-color: #FFF5E9;
  opacity: 0;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
  overflow: hidden !important;
}
.MenuFull.nav_open {
  opacity: 1;
  height: 100vh;
  visibility: visible;
  display: block;
  transition: opacity 0.5s ease-in, height 0.5s ease-in;
  max-width: 1440px;
  overflow: hidden !important;
}

.boutonMenu {
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
  float: right;
  margin-top: 30px;
  margin-right: 120px;
}
.boutonMenu span {
  width: 100%;
  height: 1px;
  background-color: black;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.5s ease-in-out;
}
.boutonMenu span::before, .boutonMenu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: transform 0.5s ease-in-out;
}
.boutonMenu span::after {
  transform: translateY(10px);
}
.boutonMenu span::before {
  transform: translateY(-10px);
}
.boutonMenu.active span {
  background-color: transparent;
}
.boutonMenu.active span::before {
  transform: translateY(0px) rotateZ(45deg);
}
.boutonMenu.active span::after {
  transform: translateY(0px) rotateZ(-45deg);
}

.menu-items {
  display: none;
  background-color: #FFF5E9;
}
.menu-items__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.liste ul {
  text-align: center;
}
.liste li {
  text-align: center;
  margin-right: 100px !important;
  list-style-type: none;
}
.liste li a {
  text-decoration: none !important;
  list-style-type: none !important;
  font-size: 3vw;
  font-weight: bold;
  line-height: 104px;
}
.liste li a:hover {
  filter: drop-shadow(0px 0px 5px #ff5c00);
  -webkit-filter: drop;
}
.liste img {
  margin: auto;
  display: flex;
}

.menuParagraphe {
  text-align: center;
}

#catMenuBleu,
#catMenuBlack,
#catMenuOrange,
#fleurMenuSunFlower,
#fleurMenuOrchid,
#fleurMenuHibiscus,
#fleurMenuRandom,
#fleurMenuFlower {
  position: absolute;
}

.logoMenu {
  width: 200px;
  margin: auto;
}

#catMenuBleu {
  top: 260px;
  left: 280px;
  width: 120px;
  height: 105px;
}

#catMenuBlack {
  top: 480px;
  right: 210px;
  width: 120px;
  height: 105px;
}

#catMenuOrange {
  top: 600px;
  left: 80px;
  width: 93px;
  height: 84px;
}

#fleurMenuSunFlower {
  top: 215px;
  right: 210px;
}

#fleurMenuOrchid {
  top: 117px;
  left: -70px;
}

#fleurMenuHibiscus {
  top: 540px;
  margin-left: 1450px;
  width: 30%;
}

#fleurMenuRandom {
  top: 300px;
  margin-left: 1400px;
  width: 7%;
}

#fleurMenuFlower {
  top: 480px;
  left: 230px;
  width: 80px;
  height: 80px;
}

#catMenuBlack,
#catMenuOrange,
#catMenuBleu {
  animation: floatAnimation 8s infinite alternate;
}

#fleurMenuFlower,
#fleurMenuSunFlower, #fleurMenuHibiscus, #fleurMenuRandom, #fleurMenuOrchid {
  animation: rotating 20s normal linear infinite;
}

@media (min-width: 700px) and (max-width: 1000px) {
  #catMenuBleu {
    left: 10%;
  }
  #fleurMenuSunFlower {
    right: 5%;
  }
  #catMenuBlack {
    right: 10%;
  }
  #fleurMenuFlower {
    left: 5%;
  }
}
@media (max-width: 700px) {
  #catMenuOrange {
    left: 0;
  }
  .main-navigation a {
    font-size: 14px;
  }
  .main-navigation ul {
    justify-content: flex-start;
  }
  .banner {
    min-height: 100vh;
  }
  .banner .backgroundBanner {
    position: absolute;
    width: 100% !important;
    height: 100%;
    top: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #catMenuBleu {
    display: none;
  }
  #catMenuBlack {
    top: 440px;
    right: 0;
  }
  #fleurMenuFlower {
    left: 5%;
  }
  .liste li a {
    font-size: 4.5vw;
  }
  #fleurMenuSunFlower {
    display: none;
  }
  ul,
  ol {
    margin: 0 0 1.5em -4em;
  }
  .menuParagraphe {
    margin-left: -10px;
  }
}
.story #place {
  position: relative;
  background-image: url("../assets/images/nuages-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#NuagesBleu {
  max-height: 300px;
  filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0px;
  height: auto;
  transition: transform 0.5s ease-out;
}/*# sourceMappingURL=style.css.map */